name: Frontend deploy to S3

on:
  # Это делает workflow "библиотечным"
  workflow_call:
    inputs:
      node_version:
        required: false
        type: string
        default: '20'
      build_command:
        required: false
        type: string
        default: 'npm run build'
      build_dir:
        required: false
        type: string
        default: 'dist'
      s3_bucket:
        required: true
        type: string
      cloudfront_distribution_id:
        required: false
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_REGION:
        required: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build frontend
        run: ${{ inputs.build_command }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Sync to S3
        run: |
          aws s3 sync ./${{ inputs.build_dir }} s3://${{ inputs.s3_bucket }} --delete

      - name: Invalidate CloudFront
        if: inputs.cloudfront_distribution_id != ''
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ inputs.cloudfront_distribution_id }} \
            --paths "/*"
